<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Detail</title>
  </head>
  <body>
    <h1>Post Detail</h1>
    <p><b>Title: </b><%= post.title %></p>
    <p><b>Category: </b><%= post.Tag.name %></p>
    <p><b>Post Code: </b><%= post.Tag.name %></p>
    <p><b>Description: </b><%= post.description %></p>
    <p><b>Image URL: </b><%= post.imageUrl %></p>
    <p><b>Posted By: </b><%= post.User.username %></p>
    <p><b>Posted At: </b><%= post.createdAt %></p>
    <button onclick="location.href='/post/<%= post.id %>/edit'">Edit</button>
  </body>
</html>
