<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Post</title>
  </head>
  <body>
    <nav>
      Diary Post
      <button onclick="location.href='/profile'">Profile</button>
      <button onclick="location.href='/post'">All Post</button>
      <button onclick="location.href='/logout'">Logout</button>
    </nav>
    <h1>My Post</h1>
    <button onclick="location.href='/profile/post/create'">Create</button>
    <table border="1">
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Tag</th>
        <th>Posted On</th>
        <th>Action</th>
      </tr>
      <% posts.forEach(el => { %>
      <tr>
        <td><img src="<%= el.imageUrl %>" style="width: 200px" /></td>
        <td><%= el.title%></td>
        <td><%= el.Tag.name%></td>
        <td><%= date(el.createdAt)%></td>
        <td>
          <button onclick="location.href='/profile/post/<%= el.id %>/edit'">
            Edit
          </button>
          <button onclick="location.href='/profile/post/<%= el.id %>/delete'">
            Delete
          </button>
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
